@import "tailwindcss";

@theme {
    --color-text-primary: #101828;
    --color-text-secondary: #667085;

    --color-border-default: #e4e7ec;

    --color-surface-default: #ffffff;
    --color-surface-sidebar: #f9fafb;

    --color-brand-primary: #175cd3;
    --color-brand-subtle: #eef4ff;

    --color-success-text: #027a48;
    --color-success-subtle: #ecfdf3;

    --color-error-text: #b42318;
    --color-error-subtle: #fef3f2;

    --color-text-on-brand: #ffffff;
}